@using StoryBlazeServer.Models
@inject NavigationManager Navigation

<table class="table">
    <thead>
        <tr>
            <th>Título</th>
            <th>Resumen</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @if (Historias == null)
        {
            <tr>
                <td colspan="3">Cargando...</td>
            </tr>
        }
        else if (Historias.Count == 0)
        {
            <tr>
                <td colspan="3">No se encontraron historias.</td>
            </tr>
        }
        else
        {
            @foreach (var historia in Historias)
            {
                <tr @onclick="() => NavigateToHistoria(historia.HistoriaId)">
                    <td data-label="Título">@historia.Titulo</td>
                    <td data-label="Resumen">@historia.Resumen</td>
                    <td data-label="Estado">@historia.Estado</td>
                </tr>
            }
        }
    </tbody>
</table>

@code {
    [Parameter]
    public List<Historia>? Historias { get; set; }

    private void NavigateToHistoria(int historiaId)
    {
        Navigation.NavigateTo($"/historia/{historiaId}");
    }

    
}
