@using StoryBlazeServer.Models

<table class="table">
    <thead>
        <tr>
            <th>Título</th>
            <th>Resumen</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @if (Historias == null)
        {
            <tr>
                <td colspan="4">Cargando...</td>
            </tr>
        }
        else if (Historias.Count == 0)
        {
            <tr>
                <td colspan="4">No se encontraron historias.</td>
            </tr>
        }
        else
        {
            @foreach (var historia in Historias)
            {
                <tr @onclick="() => NavigateToHistoria(historia.HistoriaId)">
                    <td data-label="Título">@historia.Titulo</td>
                    <td data-label="Resumen">@historia.Resumen</td>
                    <td data-label="Estado">@historia.Estado</td>
                    <td>
                        <button @onclick:stopPropagation="true" @onclick="() => EditarHistoria(historia.HistoriaId)" class="btn btn-light">
                            Editar
                        </button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<div class="button-container">
    <button @onclick="CrearHistoria" class="btn btn-success">Crear Una Historia</button>
</div>

@code {
    [Parameter]
    public List<Historia>? Historias { get; set; }

    [Inject]
    private NavigationManager NavigationManager { get; set; }

    private void EditarHistoria(int historiaId)
    {
        NavigationManager.NavigateTo($"/historias/editar/{historiaId}");
    }

    private void CrearHistoria()
    {
        NavigationManager.NavigateTo($"/historias/crear");
    }

    private void NavigateToHistoria(int historiaId)
    {
        NavigationManager.NavigateTo($"/historia/{historiaId}");
    }
}
