@page "/register"
@using System.ComponentModel.DataAnnotations
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using StoryBlazeServer.Models;
<PageTitle>Registro</PageTitle>

<h1>Registro</h1>

@if (!string.IsNullOrEmpty(message))
{
    <div class="alert alert-success" role="alert">
        @message
    </div>
}

<div class="registration-form">
    <EditForm Model="@registroModel" OnValidSubmit="HandleRegister">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <InputText id="nombre" class="form-control" @bind-Value="registroModel.Nombre" />
            <ValidationMessage For="@(() => registroModel.Nombre)" />
        </div>

        <div class="form-group">
            <label for="correo">Correo Electrónico:</label>
            <InputText id="correo" class="form-control" @bind-Value="registroModel.Correo" />
            <ValidationMessage For="@(() => registroModel.Correo)" />
        </div>

        <div class="form-group">
            <label for="clave">Contraseña:</label>
            <InputText id="clave" type="password" class="form-control" @bind-Value="registroModel.Clave" />
            <ValidationMessage For="@(() => registroModel.Clave)" />
        </div>

        <button type="submit" class="btn btn-primary">Registrar</button>
    </EditForm>

    <hr />

    <div>
        <p>Ya tienes una cuenta? <a href="/acceso">Inicia sesión aquí</a></p>
    </div>
</div>

@code {
    private RegistroModel registroModel = new RegistroModel();
    private string? message;

    private async Task HandleRegister()
    {
        try
        {
            var response = await Http.PostAsJsonAsync("https://localhost:7184/api/Acceso/Registrarse", registroModel);
            if (response.IsSuccessStatusCode)
            {
                var responseData = await response.Content.ReadFromJsonAsync<RegistrarseResponse>();

                if (responseData != null && responseData.IsSuccess)
                {
                    message = responseData.Message;
                    // Redirigir a la página de inicio de sesión o confirmación
                    NavigationManager.NavigateTo("/login");
                }
                else
                {
                    message = "Error en el registro: " + responseData?.Message;
                }
            }
            else
            {
                message = "Error al registrar el usuario.";
            }
        }
        catch (Exception ex)
        {
            message = $"Ocurrió un error: {ex.Message}";
        }
    }


}
