@using StoryBlazeServer.Models
@using StoryBlazeServer.Components;
@page "/"
@inject HistoriaService HistoriaService


<PageTitle>Home</PageTitle>

<WelcomeBanner />
<br />

<div class="home-container">
    <CategoriasSection/>
    <div class="historias-section">
        <h3>Historias</h3>
        <HistoriaTable Historias="historias" />
    </div>
</div>


@code {
    private List<Historia>? historias;

    protected override async Task OnInitializedAsync()
    {
        historias = await HistoriaService.GetHistoriasAsync();
    }
}
