@page "/MisHistorias"

@using StoryBlazeServer.Models
@inject HistoriaService HistoriaService
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<div class="historias-section">
    <h3>Mis Historias</h3>
    @if (historias == null)
    {
        <p>Cargando historias...</p>
    }
    else if (historias.Count == 0)
    {
        <p>No se encontraron historias.</p>
    }
    else
    {
        <HistoriaTableEditar Historias="historias" />
    }
</div>

@code {
    private List<Historia>? historias;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                // Verificar el token antes de intentar cargar las historias
                var token = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "authToken");

                if (string.IsNullOrEmpty(token))
                {
                    // Si no hay token, redirigir al login
                    NavigationManager.NavigateTo("/login");
                    return;
                }

                // Si hay token, cargar las historias
                historias = await HistoriaService.GetHistoriasByUserAsync();
                StateHasChanged(); // Actualizar el estado del componente después de cargar las historias
            }
            catch (Exception ex)
            {
                Console.WriteLine($"Error al cargar las historias: {ex.Message}");
            }
        }
    }
}
